<div>
    <h3>Credits</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Project ID</th>
                <th>Created</th>
                <th>Income</th>
                <th>Personnel Expenses</th>
                <th>Execution Expenses</th>
                <th>Total</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tr *ngFor="let credit of credits" app-editable-credits [credit]="credit"></tr>    
    </table>
</div>
