<h3>About</h3>
<p>Credits app is a project for the subject of FIS.</p>

<ul>
    <li><a href="https://github.com/ezequielo/fis18-08" target="_blank">Repo</a></li>
    <li><a href="https://travis-ci.org/ezequielo/fis18-08" target="_blank">Travis CI</a></li>
    <li><a href="https://codeclimate.com/github/ezequielo/fis18-08" target="_blank">Codeclimate</a></li>
    <li><a href="https://coveralls.io/github/ezequielo/fis18-08" target="_blank">Coveralls</a></li>
    <li><a href="https://documenter.getpostman.com/view/6313455/RznEKe5S" target="_blank">API Usage - Postman</a></li>
</ul>