<div class="card mt-5" style="margin:auto;width: 600px;">
    <div class="card-body">
      <h5 class="card-title">Credit {{ credit._id }}</h5>
      <table>
        <tr>
          <td class="my-td-bold">Project ID</td>
          <td *ngIf="!editable">{{credit.projectId}}</td>
          <td *ngIf="editable"><input class="form-control" [(ngModel)]="credit.projectId"/></td>
        </tr>
        <tr>
          <td class="my-td-bold">Created Date</td>
          <td *ngIf="!editable">{{credit.created}}</td>
          <td *ngIf="editable"><input class="form-control" [(ngModel)]="credit.created" disabled/></td>
        </tr>
        <tr>
          <td class="my-td-bold">Income</td>
          <td *ngIf="!editable">{{credit.income}}</td>
          <td *ngIf="editable"><input class="form-control" [(ngModel)]="credit.income"/></td>
        </tr>
        <tr>
          <td class="my-td-bold">Personnel Expenses</td>
          <td *ngIf="!editable">{{credit.personnelExpenses}}</td>
          <td *ngIf="editable"><input class="form-control" [(ngModel)]="credit.personnelExpenses"/></td>
        </tr>
        <tr>
          <td class="my-td-bold">Execution Expenses</td>
          <td *ngIf="!editable">{{credit.executionExpenses}}</td>
          <td *ngIf="editable"><input class="form-control" [(ngModel)]="credit.executionExpenses"/></td>
        </tr>  
        <tr>
          <td class="my-td-bold">Total EUR</td>
          <td *ngIf="!editable">{{credit.total}}</td>
          <td *ngIf="editable"><input class="form-control" [(ngModel)]="credit.total" disabled/></td>
        </tr>
        <tr *ngIf="displayDollars">
          <td class="my-td-bold">Total USD</td>
          <td>{{totalDollars}}</td>
        </tr>
      </table>
      <div style="float:right">
          <button class="btn btn-outline-success" (click)="onTotalDollars()">Get total in USD</button>
      </div>
      <br>
      <br>
      <hr>
      <div app-project-info [credit]="credit">

      </div>
      <hr>
      <div style="float:right">
        <button class="btn btn-outline-warning" (click)="onEdit()">{{editable ? 'Save': 'Edit'}}</button>
        <button class="btn btn-outline-danger" (click)="onDelete()" style="margin-left: 1em;">Delete</button>
      </div>
    </div>
  </div>